

<div class="container" >
    <form name="datainputform" class="form-horizontal">
        <div class="form-group">
            <button ng-click=vm.updateData()>Update Data</button>
  
            <label>
                Graph Height:
                <input type="number" name="value" ng-model="vm.model.graphHeight">
            </label>
               <label>
                Maximum bar width:
                <input type="number" name="value" ng-model="vm.model.maxBarWidth">
            </label>
            
        </div>
    </form>
</div>
 

<d3-dual-bar-chart 
    data="vm.model.data" 
    height={{vm.model.graphHeight}}
    width={{vm.model.graphWidth}}
    max-bar-width = {{vm.model.maxBarWidth}}
    ></d3-dual-bar-chart >


<div> <label>Data Input:  </label></div>
<textarea style="width:100%;height:700px" ng-model="vm.model.jsonData" ></textarea>

