.pietooltip {
  position: absolute; }

circle.bilevel-partion-center,
path {
  cursor: pointer; }

circle.bilevel-partion-center {
  fill: none;
  pointer-events: all; }

textpath.labels-text {
  letter-spacing: 1px;
  font-size: 11px;
  fill: #2F4F4F;
  pointer-events: none;
  cursor: pointer; }

.bilevel-center-tip {
  pointer-events: none;
  cursor: pointer; }
