.pietooltip {
  position: absolute; }

circle.bilevel-partion-center,
path {
  cursor: pointer; }

circle.bilevel-partion-center {
  fill: none;
  pointer-events: all; }

textpath.labels-text {
  letter-spacing: 1px;
  fill: #2F4F4F;
  pointer-events: none;
  cursor: pointer; }

.bilevel-center-tip {
  pointer-events: none;
  cursor: pointer; }

.axis-dualbars {
  fill: #2B3843; }

.axis-dualbars path {
  fill: none;
  stroke: #2B3843; }

.axis-dualbars line {
  fill: none;
  stroke: #2B3843;
  shape-rendering: crispEdges; }
